<mat-card class="user-card" *ngIf="user; else loadingOrError">
  <div class="user-card__avatar">
    <span>{{ initials }}</span>
  </div>

  <div class="user-card__content">
    <h3 class="user-card__name">{{ user.name }}</h3>
    <p class="user-card__username">@{{ user.username }}</p>
    <p class="user-card__email">
      <mat-icon>mail</mat-icon>
      <span>{{ user.email }}</span>
    </p>
    <p class="user-card__meta" *ngIf="user.phone">
      <mat-icon>phone</mat-icon>
      <span>{{ user.phone }}</span>
    </p>
  </div>
</mat-card>

<ng-template #loadingOrError>
  <div class="user-card user-card--placeholder">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>
