<mat-sidenav-container class="layout">
  <mat-sidenav #sidenav class="layout__sidenav" mode="side" [opened]="true">
    <div class="layout__logo">
      <img
        src="https://www.softwareone.com/-/media/images/logos/softwareone-logo-blk.svg?iar=0&hash=6A277FF39328B4D79A071F4A9F95F301"
        alt="Software One Logo"
        class="layout__logo-img"
        width="100px"
      />
    </div>


    <nav class="layout__nav">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="layout__nav-item--active" class="layout__nav-item">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/profile" routerLinkActive="layout__nav-item--active" class="layout__nav-item">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Perfil</span>
      </a>

      <a mat-list-item routerLink="/settings" routerLinkActive="layout__nav-item--active" class="layout__nav-item">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Configuración</span>
      </a>

      <a mat-list-item routerLink="/activity" routerLinkActive="layout__nav-item--active" class="layout__nav-item">
        <mat-icon matListItemIcon>history</mat-icon>
        <span matListItemTitle>Actividad</span>
      </a>
    </nav>

  </mat-sidenav>

  <mat-sidenav-content class="layout__content">
    <mat-toolbar color="primary" class="layout__toolbar">
      <button mat-icon-button class="layout__toolbar-menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="layout__toolbar-spacer"></span>

      <button mat-icon-button (click)="toggleTheme()" [matTooltip]="isDarkTheme ? 'Tema claro' : 'Tema oscuro'">
        <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Configuración</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="layout__main">
      <router-outlet></router-outlet>
    </main>

    <footer class="layout__footer">
      <span>© {{ currentYear }} Software One · Prueba técnica · Alberto Salmerón</span>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>