.layout-container {
  height: 100vh;
}

.layout-content {
  padding: 16px;
}

.spacer {
  flex: 1 1 auto;
}

a.active {
  background-color: rgba(0, 0, 0, 0.06);
}

/* Temas */
.theme-light {
  background-color: #f5f5f5;
  color: #212121;
}

.theme-dark {
  background-color: #303030;
  color: #fafafa;

  .layout-content {
    background-color: #424242;
  }

  a.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
